{% load static %}
<html>
    <head>
        <title>SimpleBlog on Django</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

    <div class="hidden-xs">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">SimpleBlog on <b>Django</b></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'post_new' %}">Добавить пост</a></li>
                        <li><a href=/admin/>Админка</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="visible-xs-block">
        <nav class="navbar navbar-default">
            <div class="container-fluid" style="height: 0px;">
               
                        <a class="navbar-brand" style="padding-left: 5px;" href="/">SB<b>Django</b></a>
                        {% if user.is_authenticated %}
                            <a href="{% url 'post_new' %}" class="navbar-brand" 
                            style="font-size: 13px; padding-left: 5px;">Новый пост</a>
                            <a href="/admin/" class="navbar-brand" 
                            style="font-size: 13px; padding-left: 5px;">Админка</a>
                        {% endif %}
            </div>
        </nav>
    </div>
    
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>